.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 12rem;
}

.textSection {
  grid-column: 2 / span 10;
  justify-self: center;
}

.faqSection {
  grid-column: 1 / span 12;
}

.textSection p {
  text-align: center;
  margin-top: 1rem;
}

.faqSection {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faqItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  background: var(--clr-secondary);
  padding: 1.5rem;
  border-radius: 10px;
}

.faqItem .questionSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.answer {
  transition: 0.2s;
}
.question {
  transition: color 200ms ease-in;
}

.faqItem.open .question {
  color: var(--clr-accent);
}

@media only screen and (max-width: 1200px) {
  .grid {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 450px) {
  .grid {
    margin: 0 2rem;
  }
}