.btn {
    border: none;
    text-decoration: none;
    color: white;
    background-color: var(--clr-accent);
    padding: 1.2rem 3rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #2542D9;
}