.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    margin: 0 3rem;
}

.textSection {
    grid-column: 2 / span 10;
    text-align: center;
}

.textSection h2{
    margin-bottom: 1rem;
}
.textSection p {
    color: var(--clr-text-400);
    margin-bottom: 1rem;
}

.productCard {
    grid-column: span 3;
    overflow: hidden;
    border-radius: 6px;
}
.btn {
    grid-column: span 12;
    justify-self: center;
    align-self: center;
}