@media only screen and (min-width:431px) {
.main{
    margin-left: 13%;
     margin-right: 13%;
     
}
.main h1{
    text-align: center;
    
}
.contain{
    display: flex;
     gap: 6rem;
     margin-top: 80px; 
}
.left{
    width: 55%;
}
.right{
     width: 500px;
      height: 380px;
      
}
.right img{
    border-radius: 10px;
}
}
    @media only screen and (max-width:431px) {
        .main h1{
            text-align: center;
            
        }  
        .contain{
            display: flex;
            flex-direction: column;
             gap: 2rem;
             margin-top: 40px; 
        } 
        .main{
            margin-left: 5%;
             margin-right: 5%;
             margin-bottom: 80px;
             
        }
    }