.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 12rem;
}

.container > h2 {
  grid-column: span 2;
  text-align: center;
}

.card {
  background: var(--clr-secondary);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.headSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-text-800);
}
.titleGroup {
  padding-bottom: 0.5rem;
}
.detailSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.description {
  color: var(--clr-text-400);
}

.btn {
  border: none;
  cursor: pointer;
  background: var(--clr-accent);
  padding: 0.8rem 0.5rem;
  color: white;
  transition: color 350ms ease, background 350ms ease;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn:hover,
.btn:focus {
  background: var(--clr-accent-hover);
}

.loader {
  color: #ff0000;
}
.btn:hover .loader,
.btn:focus .loader{
  color: var(--clr-accent);
}

.roundedbtn {
  border-radius: 50%;
  padding: 0.5rem;
}

/* Popup styles */
.popcontainer {
  background: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid var(--clr-text-400);
}
.popform {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 400px;
  gap: 1rem;  
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 400;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
.inputGroup input,
.inputGroup select {
  width: 100%;
}
.inputGroup label {
  font-size: 14px;
  font-weight: bold;
}

.inputGroup input:not([type="file"]){
  outline: none;
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-text-800);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.inputGroup select {
  background-color: var(--clr-primary);
  color: inherit;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
}

.inputGroup input[type="file"] {
  padding: 0.5rem;
  border-radius: 10px;
}
/* Popup styles end */

@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    margin: 0 2rem;
  }
  .card {
    grid-column: span 2;
  }
}