.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 12rem;
}

.container > h2 {
  grid-column: span 2;
  text-align: center;
}

.card {
  background: var(--clr-secondary);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.headSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-text-800);
}
.titleGroup {
  padding-bottom: 0.5rem;
}
.detailSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.description {
  color: var(--clr-text-400);
}

.btn {
  background-color: var(--clr-accent);
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    margin: 0 2rem;
  }
  .card {
    grid-column: span 2;
  }
}