
.container h1 {
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 8rem;
    margin-top: var(--m-xxl);
}
section:last-child .textSection {
    order: 1;
}
section img {
    max-height: 400px;
    border-radius: 10px;
}
.textSection {
    max-width: 400px;
}

.textSection > p {
    margin-top: 1rem;
    max-width: 50ch;
}

@media only screen and (max-width: 1200px) {
    section {
        margin: 0 3rem;
        margin-top: var(--m-xxl);
        gap: 2rem;
    }
    section img {
        max-height: 300px;
    }
}

@media only screen and (max-width: 800px) {
    section {
        align-items: end;
    }
}

@media only screen and (max-width: 450px) {
    section {
        display: block;
        text-align: center;
        margin: 0 1rem;
        margin-top: var(--m-xl);

    }
    section img {
        display: none;
    }
}