.big{
     margin-left: 100px; 
     margin-right: 100px;
}
.head{
    margin-bottom: 50px;
}
.head h2{
    text-align: center;
     margin-bottom: 10px;
}
.head h4{
    text-align:center;
            margin-left: 120px;   
                     margin-right: 120px;
}
.cardcontain{
    display: flex; 
    flex-direction: column;
     gap: 2rem;
     margin-bottom: 100px;
}
.cardrow{
    display: flex; 
    flex-direction: row;
     gap: 2rem; 
}
.container {
border-radius: 10px;
background-color: var(--clr-secondary);
width: 33%;
height: 250px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 30px;

}
.container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;   
    
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}
.container h4 {
    margin-top: var(--m-sm);
    margin-bottom: var(--m-sm);
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
}