.container {
  padding: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  color: white;
}
.textSection p {
  max-width: 60ch;
}

.achievementSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  height: 200px;
  text-align: center;
}
.card p,
.textSection p{
  color: var(--dark-text-400);
}

@media only screen and (max-width: 1200px) {
  .contentSection {
    column-gap: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 3rem;
  }
  .contentSection {
    row-gap: 2rem;
  }
  .achievementSection {
    grid-column: span 2;
    order: 1;
  }
  .textSection {
    grid-column: span 2;  
  }
  .textSection p {
    max-width: fit-content;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    padding: 2rem;
  }
  .textSection {
    display: none;
  }
  .achievementSection {
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .card p{
    white-space: wrap;
  }
  .card {
    grid-column: span 2;
  }
}

