
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-secondary);
  padding: 2rem 3rem;
}
.logo > img {
  height: 64px;
}

.desktopNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

 a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms;
}
 a {
  padding: 1rem;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.btn {
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}
.btn:hover,
.btn  :focus {
  color: var(--clr-accent);
}

.menuBtn {
  display: none;
}

 a:hover,
 a:focus {
  color: var(--clr-accent);
}

.mobileNav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  width: 100vw;
  transition: all 0.3s;
  background: var(--clr-primary);
  z-index: 10000;
}

.mobileNav.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  position: absolute;
  top: 5.7rem;
  left: 0;
  height: fit-content;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: var(--clr-secondary);
  min-width: 250px;
 padding-top: 60px;
  z-index: 1;
  height: 380px;
}

.dropdown_content a {
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
color: blue;}

.dropdown:hover .dropdown_content {display: block;}





@media only screen and (max-width: 800px) {
  .desktopNav {
    display: none;
  }
  .menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo > img {
    height: 48px;
  }
  .container {
    padding: 1rem;
  }
  .menu_container {
      background-color: var(--clr-primary); /* Dark blue background */
      
      padding: 5px;
      width: 200px;
    }
    
    .menu {
      display: flex;
      flex-direction: column;
    }
    
    .menu_item {
      margin: 5px 0;
      cursor: pointer;
    }
    
    .services {
      position: relative;
      margin-left: 41px;
    }
    
    .dropdown {
      display: flex;
      flex-direction: column;
      background-color: var(--clr-primary);
      gap: 1rem;
      padding-top: 20px;
      width: 200px;
      z-index: 1;
      margin-top: 5px;
      text-align: center;
      
    }
    
    .dropdown-item {
      padding: 5px;
      border-bottom: 1px solid #444;
    }
    
    .dropdown-item:last-child {
      border-bottom: none;
    }
}


