.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-secondary);
    padding: 2rem;
}
.logo > img {
    height: 64px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

nav > a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 250ms;
    padding: 1rem;
}

button {
    padding: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

nav > a:hover, nav > a:focus {
    color: var(--clr-accent);
}