.container {
    background-color: var(--clr-secondary);
}

.container > img {
    width: 100%;
}
.textSection {
    padding: 1rem;
    padding-bottom: 1rem;
}
.textSection p {
    color: var(--clr-accent);
}