.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  margin: 0 12rem;
}

.textSection {
  grid-column: span 12;
  text-align: center;
}

.card {
  grid-column: span 4;
  background: var(--clr-secondary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  height: 120px;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 800px ) {
  .card {
    grid-column: span 6;
  }
}

@media only screen and (max-width: 450px) {
  .card {
    grid-column: span 12;
  }
}
